/*
Theme Name: MagPlus Child
Theme URI: http://themebubble.com
Template: magplus
Author: themebubble
Author URI: http://themeforest.net/user/theme_bubble
Description: A stunning visual experience for minimal loving creative. This template is a responsive and retina-ready Wordpress theme with grid system layout. It is optimized for mobile touch and swipe.
Tags: two-columns,three-columns,left-sidebar,right-sidebar,custom-background,custom-header,custom-menu,editor-style,featured-images,flexible-header,full-width-template,post-formats,rtl-language-support,sticky-post,theme-options,translation-ready,accessibility-ready
Version: 1.0.1505902113
Updated: 2017-09-20 10:08:33

*/

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProLightCondensed.otf);
	font-weight: 300;
	font-style: condensed;
}

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProLightItalic.otf);
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProLight.otf);
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProRegular.otf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: sofia-pro-condensed;
	src: url(fonts/SofiaProRegularCondensed.otf);
	font-weight: 400;
}

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProRegularItalic.otf);
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: sofia-pro-condensed;
	src: url(fonts/SofiaProMediumCondensed.otf);
	font-weight: 500;
}

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProMedium.otf);
	font-weight: 500;
}


@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProSemiBold.otf);
	font-weight: 600;
}

@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProBold.otf);
	font-weight: 700;
}


@font-face {
	font-family: sofia-pro;
	src: url(fonts/SofiaProBlack.otf);
	font-weight: 900;
}


@font-face {
	font-family: perpetua;
	src: url(fonts/PerpetuaTitlingMT-Bold.ttf);
	font-weight: 700;
}


@font-face {
	font-family: raleway;
	src: url(fonts/Raleway-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: raleway;
	src: url(fonts/Raleway-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: fontawesome;
	src:url(fonts/fontawesome-webfont.ttf);
	font-weight: 400;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	font-family: 'sofia-pro', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


:focus{
	outline: 0px;
}

a:hover{
	color: #FEDD32;
    text-decoration: none;
}
.no-padding{
	padding: 0px !important;
}

.no-border{
	border: 0px !important;
}

.condensed{
	font-family: 'sofia-pro-condensed','sofia-pro' !important;
}

.hide{
	display: none !important;
}


.white{
	color:#fff !important;
	fill:#FFF;
}


.no-margin{
	margin: 0px !important;
}

.full-width{
	width:100% !important;
}

.half-width{
	width: 50% !important;
}

.add-top{
	padding-top: 80px;
}
.add-bottom{
	padding-bottom: 80px;
}

.logo{
	padding-top: 0px;
}

.mobile-only{
	display: none;
}

.mobile-flex-only{
	display: none;
}

.tt-header .main-nav > ul > li.active > a, .tt-header .main-nav > ul > li:hover > a, .tt-s-popup-btn:hover, .tt-header.color-2 .top-menu a:hover, .tt-header.color-2 .top-social a:hover, .tt-s-popup-submit:hover .fa, .tt-mslide-label a:hover, .tt-sponsor-title:hover, .tt-sponsor.type-2 .tt-sponsor-title:hover, .tt-post-title:hover, .tt-post-label span a:hover, .tt-post-bottom a:hover, .tt-post-bottom a:hover .fa, .tt-post.light .tt-post-title:hover, .tt-blog-user-content a:hover, .tt-blog-user.light .tt-blog-user-content a:hover, .simple-img-desc a:hover, .tt-author-title:hover, .tt-author-social a:hover, .tt-blog-nav-title:hover, .tt-comment-label a:hover, .tt-comment-reply:hover, .tt-comment-reply:hover .fa, .comment-reply-link:hover, .comment-reply-link:hover .fa, .comment-edit-link:hover, .tt-search-submit:hover, .tt-news-title:hover, .tt-mblock-title:hover, .tt-mblock-label a:hover, .simple-text a, .c-btn.type-1.style-2.color-2:hover, .c-btn.type-2:hover, .c-btn.type-3.color-2:hover, .c-btn.type-3.color-3, .sidebar-item.widget_recent_posts_entries .tt-post.dark .tt-post-title:hover, .tt-post-cat a:hover, .sidebar-item.widget ul li a:hover, .tt-small-blog-slider .tt-h4-title a:hover, .tt-comment-form .form-submit:hover {
    color: #FEDD32 !important;
}

.tt-header-style-link .main-nav > ul > li > a:after, .tt-header-type-5 .main-nav > ul > li > a:after {
    background: none !important;
}

.tt-header-wrapper {
    background: transparent;
    border: 0px;
}

.tt-header .main-nav>ul>li>a {
    font-family: "sofia-pro" !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 15px;
    color: #FFF;
}

.tt-top-header-disable.header-style8 .tt-header-margin-sm {
    height: 0px !important;
}

.tt-header-type-5 .logo, .tt-header .logo {
    height: 75px !important;
}

.tt-header .main-nav>ul>li:not(.mega) {
    margin-right: 35px;
    margin-left: 35px;
}

.tt-header .main-nav>ul>li.rounded:not(.mega) {
    border-radius: 20px;
    background-color: #000;
    height: 40px;
    width: 118px;
    margin-top: 16px;
}

.home_slider .wpsisac-slick-slider.design-2 .slick-dots {
    left: 15px !important;
    right: 22px;
    text-align: center;
    bottom: 50vh !important;
    width: 2%;
}

.home_slider .wpsisac-slick-slider .slick-dots li.slick-active button {
    background: #FEDD32!important;
    border:0px solid #fff;
    width: 12px !important;
    height: 12px !important;
}

.home_slider .slide-title{
	font-family: "sofia-pro" !important;
    font-weight: 700 !important;
    font-style: normal !important;
    font-size: 60px !important;
    color: #000 !important;
    line-height: initial!important;
    text-shadow: 0 0px 0px #000;
    line-height: 65px !important;
}

.home_slider .wpsisac-slick-slider.design-2 .slick-image-slide .slide-wrap .slider-content {
    width: 450px;
}

.wpsisac-slick-slider.design-2 .slick-image-slide .slide-wrap .slider-overlay {
    background: none;
}

.wpsisac-slick-slider.design-2 .slick-image-slide .slide-wrap .slick-slider-short-content p{
	font-family: "sofia-pro" !important;
    font-weight: 400 !important;
    letter-spacing: 1.2px;
    text-align:right;
    font-style: italic !important;
    font-size: 11px !important;
    color: #B3B3B3 !important;
    line-height: initial!important;
    float: right;
    text-shadow: initial !important; 
    position: absolute;
    bottom: -250px;
	right: -20px;
}

.wpsisac-slick-slider.design-2 .slick-image-slide img{
	width: 100%;
}

.slide-wrap {
    padding-bottom: 40px;
}

.main_heading .special-text{
	font-family: "sofia-pro" ;
    font-weight: 400 ;
    letter-spacing: 1.2px;
    font-size: 40px ;
    color: #000 ;
    text-align: center;
}

.main_heading .special-text strong{
	background: url("../../uploads/2018/03/text-highlighter.png") no-repeat;
	background-position: center;
    font-weight: 700;
}

#home_section2 .category-index h2.wpb_heading.wpb_singleimage_heading {
    position: absolute;
    bottom: 48px;
    left: 42%;
    font-size: 34px;
    color: #fff;
    font-family: "sofia-pro" ;
    font-weight: 500 ;
    letter-spacing: 1.2px;
}

#home_section2 .category-index-long h2.wpb_heading.wpb_singleimage_heading {
    left: 23%;
}

#home_section2 .category-index-small h2.wpb_heading.wpb_singleimage_heading{
	left: 15%;
}

#home_section2 .category-index{
	margin-bottom:0px !important;
}
.left-category-index .vc_column-inner {
    padding: 0px !important;
    padding-left: 15px !important;
}

.right-category-index .vc_column-inner {
    padding-right: 15px !important;
}

#home_section2 .category-index.top {
    padding-bottom: 27px;
}

#home_section2 img.imglogo {
    position: absolute;
    bottom: 69px;
    left: 90px;
}

.row-margin-top{
	margin-top:15px;
}

.featured_section .text-block.small-text p {
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    font-weight:700;
    font-family: "sofia-pro" ;
	letter-spacing: 1.2px;
    color: #B3B3B3;
}

.featured_section .heading-text{
	font-size:38px;
	line-height:45.6px;
	text-align:center;
	font-family: "sofia-pro" ;
	color: #000000;
	font-weight:400;
	margin-bottom: 15px;
}

.featured_section .heading-text strong{
	font-weight:700 !important;
}

.text-block.small-text-content p {
    text-align: center;
    font-size: 17px;
    color: #4D4D4D;
    font-family: "sofia-pro" ;
	font-weight:300;
}

/*.home_slider .wpsisac-slick-slider.design-2 .slick-image-slide {
    height: calc(100vh - 50px) !important;
}*/
.tt-footer .col-md-2{
	padding-left: 0px;
	padding-right: 0px;  
}

.tt-footer h5{
	color: #FFF;
	font-size: 15.5px;
	margin-bottom: 0;
	padding-top: 37px;
	font-weight: 500;
	font-family: "sofia-pro" ;
	letter-spacing: 1px;
}

.tt-footer hr{
	border-top: 1px solid #FEDD32;

}

.tt-footer ul{
	padding-left: 0;
}

.tt-footer ul li{
	list-style: none;
	margin-bottom: 5px;
}

ul.social li a{
	color: #FEDD32 !important;
}



ul li a:hover{
	color: #FEDD32;
}

.tt-footer ul.social{
	margin-top: 25px;
}

.tt-footer ul.social li{
	display: inline;
	/*border: 1px solid #8F857D;
	border-radius: 50%;*/
	padding: 5px 8px 5px 0px;
	margin-right: 7px;
}

.tt-footer i.fa {
  display: inline-block;
  border-radius: 60px;
  border: 1px solid #FEDD32;
    /*box-shadow: 0px 0px 2px #FEDD32;*/
  padding: 7px 8px;

}

.tt-footer i.fa-facebook {
  padding: 7px 10px;

}

.tt-footer .info{
	color: #999999;
	font-size: 13px;
	line-height: 15.6px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	padding-left: 20px;
}


.tt-footer ul li a{
	color: #FFF;
	font-size: 14px;
	line-height: 15.6px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#text-14{
	margin-bottom: 56px;
}

#text-15{
	margin-bottom: 82px;
}

#text-16{
	margin-bottom: 26px;
}

.tt-footer-copy{
	color: #999;
	font-size: 13px;
	font-family: 'sofia-pro', sans-serif !important;
	font-weight: 300 !important;
}

.tt-footer{
	/*padding-top: 50px;
	height: 350px;
	padding-bottom: 35px;*/
	background:url("../../uploads/2018/04/footer-bg.jpg") no-repeat;
	background-size: cover;
	background-position: center;
	font-weight: 700;
	font-family: 'sofia-pro', sans-serif;
}
.address{
	color: #FFFFFF !important;
	font-size: 12px;
	line-height: 19.2px;
	font-weight: 400;
	font-family: 'raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.address span a{
	color:#FEDD32;
	font-weight: 600; 
}

ul.social li a {
    color: #FEDD32;
}

.sub-text .simple-text p{
	color: #4D4D4D;
	font-size: 17px;
	font-family: 'sofia-pro', sans-serif;
	font-weight: 300;
	line-height: 20.4px;
	text-align: center;
}

.simple-text b, .simple-text strong, strong, b {
    font-weight: 600 !important;
}

.fav-floater{
	float: right;
    position: absolute;
    right: 7px;
    top: 0px;
    padding: 10px;
    padding-bottom: 0px;
    font-size: 22px;
    background: rgba(255,255,255,0.8); 
}

.book-title{
	margin-top: 20px;
	font-size: 17px;
	letter-spacing:0.5px;
	font-weight: 600;
	color: #000000;
	text-overflow: ellipsis;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.book-title b,.book-title strong{
	font-weight:600; 
}

.book-description{
	font-size: 12px;
	letter-spacing:0.2px;
	font-weight: 300;
	font-style: italic;
	color: #999999;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-bottom: 20px;
	white-space: nowrap;
}

.rate{
	margin-top: 20px;
	font-size: 25px;
	letter-spacing:0.5px;
	font-weight: 400;
	color: #999999;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.yellow_btn{
	display: inline-flex;
	margin-top:35px;
	width:210px;
	height: 41px;
	color: #1A1A1A;
	padding: 9px;
	background:#FEDD32;
	font-size: 16px;
	letter-spacing:2.1px;
	font-weight: 700;
	 text-transform : uppercase;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 20px;
	line-height: 1px;
	border:1px solid #fedd32;
}

.img-obj{
	width:100%;
	height: 225px;
	object-fit: contain;
	object-position: center;
	margin-bottom: 2px;
}

.card hr{
	margin-top: 2px;
	margin-bottom: -1px;
}

.card {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    box-shadow: 0px 2px 4px 0px #f2f2f2;
    transition: 0.3s;
}

.onhover .how:hover,.onhover .howc:hover{
	background-color: #F2F2F2;
	display: block;
}

.onhover {
  display: none;
}
.surround:hover span.initial{
  display: none;
  cursor: pointer;
}
.surround:hover span.onhover {
  display: block;
  cursor: pointer;
}

.hover_img{
    height: 28px;
    margin-left: -5px;
}

.cls-1{fill:#fedd32;}
.cls-2{fill:#ccc;}

.yellow{
	color: #FEDD32 !important;
	fill:#fedd32;
}

.hover_text{
	margin-bottom: 20px;
    margin-top: 10px;
	font-size: 13px;
	letter-spacing:0.5px;
	font-weight: 700;
	color: #000;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center-content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
/*.w-24{
	width: 24%;
}*/

.btn_yellow .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern{
	width:210px;
	height: 41px;
	color: #1A1A1A;
	padding: 9px;
	background:#FEDD32;
	font-size: 16px;
	letter-spacing:2.1px;
	font-weight: 700;
	 text-transform : uppercase;
	font-family: 'sofia-pro', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	border-radius: 20px;
	line-height: 1px;
	border:1px solid #fedd32;
}

.btn_yellow .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern:hover{
	color: #FFFFFF;
	background: #000;
}

.home_section4 .special-text{
	font-size: 34px;
	font-weight: 600;
	color: #000;
	font-family: 'sofia-pro', sans-serif;
	text-align: left;
	line-height: 40.8px;
}

.home_section4 .special-text strong{
	background: url("../../uploads/2018/04/language_highliter.png") no-repeat;
	background-position: center right ;
    font-weight: 700;
}


.home_section4 .simple-text p{
	font-size: 14px;
	font-weight: 300;
	color: #333;
	font-family: 'sofia-pro', sans-serif;
	text-align: left;
	line-height: 16.4px;
}

#wpsm_counter_b_row_3551 .wpsm_counterbox .wpsm_number span{
	font-size: 51px;
	font-weight: 300;
	color: #000;
	font-family: 'sofia-pro', sans-serif;
	text-align: center;
}

#wpsm_counter_b_row_3551 .wpsm_counterbox .wpsm_count-title {
    min-height: 0px !important;
}

#wpsm_counter_b_row_3551 .wpsm_counterbox .wpsm_count-title{
	font-size: 15.39px !important;
	font-weight: 700 !important;
	color: #666 !important;
	font-family: 'sofia-pro', sans-serif !important;
	text-align: center;
}

#wpsm_counter_b_row_3551 > div > div:nth-child(1) > div:nth-child(2) > div > div > span:after{
	content: '+';
	font-size: 51px;
	font-weight: 300;
	color: #000;
	font-family: 'sofia-pro', sans-serif;
}

#wpsm_counter_b_row_3551 > div > div:nth-child(1) > div:nth-child(4) > div > div > span:after{
	content: '+';
	font-size: 51px;
	font-weight: 300;
	color: #000;
	font-family: 'sofia-pro', sans-serif;
}

#cta .vc_btn3-container {
    margin-bottom: 0px;
}

#cta .simple-text{
	font-size: 18px !important;
	font-weight: 500 !important;
	color: #1A1A1A !important;
	font-family: 'sofia-pro', sans-serif !important;
	text-align: center;
}

#cta .input_text .simple-text{
	font-size: 18px !important;
	font-weight: 500 !important;
	color: #FEDD32 !important;
	font-family: 'sofia-pro', sans-serif !important;
	text-align: center;
}

#cta .wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li {
     margin-bottom: 0px !important; 
}

#input-field {
    border: 1px solid #4D4D4D;
    padding: 0px 10px;
    background: #FFF;
    border-right: 0px;
    font-size: 14.9px;
    height: 35px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #666666;
    font-family: 'sofia-pro', sans-serif;
}

.plain-btn {
    border: 1px solid #4D4D4D;
    background: #FFF;
    border-left: 0px;
    /*padding: 8.5px 13px;*/
    height:35px;
}

#featured_posts_section .featured_title .simple-text {
	font-size: 36px !important;
	font-weight: 400 !important;
	color: #000 !important;
	line-height: initial;
	font-family: 'sofia-pro', sans-serif !important;
	margin-bottom: 10px;
}

#featured_posts_section .featured_title .simple-text  strong{
	font-weight: 700 !important;
}

#featured_posts_section .featured_subtitle .simple-text {
	font-size: 15px !important;
	font-weight: 300 !important;
	color: #666 !important;
	line-height: initial;
	font-family: 'sofia-pro', sans-serif !important;
}

.slick-next {
    right: -30px !important;
    z-index: 999;
    font-size: 12px !important;
}


.slick-prev {
    left: -50px !important;
    z-index: 999;
    font-size: 12px !important;
}

.slick-prev, .slick-next {
	top: 40% !important;
}

#featured_posts_section .vc_btn3-container {
    margin-bottom: 0px;
}

.slick-prev .fa-stack-1x, .slick-prev .fa-stack-2x {
    left: -1px;
}
.fa-inverse {
    color: #CCC;
}

.slick-prev .fa-stack-1x, .slick-prev .fa-stack-2x {
    left: -1px;
}

.fa-stack {
    border: 1px solid #CCC;
    border-radius: 50%;
    font-size: 18px;
}

.featured_posts_slider .img-obj{
	object-fit: cover;
}

.featured_posts_slider .post-title{
	font-size: 18px !important;
	font-weight: 500 !important;
	color: #666 !important;
	line-height: initial;
	font-family: 'sofia-pro', sans-serif !important;
}

.featured_posts_slider a{
	padding-top: 15px;
    display: block;
	margin-top: 10px;
	font-size: 14px !important;
	font-weight: 700 !important;
	color: #000 !important;
	line-height: initial;
	font-family: 'sofia-pro', sans-serif !important;
}

.featured_posts_slider .box{
	padding: 10px 25px;
}

.marg-b20{
	margin:20px 10px;
}

.home_section4 .vc_btn3.vc_btn3-color-grey.vc_btn3-style-modern{
	border: 0px !important;
	background-color: transparent !important;
	color: #000!important;
	font-family: 'sofia-pro', sans-serif !important;
	font-weight: 700 !important;
	font-size: 15.39px !important;
	padding-left: 0px !important;
}

.home_section4 .vc_btn3-icon.fa.fa-chevron-right{
	color: #FEDD32 !important;
}

#home_section2 > div.vc_row.wpb_row.vc_row-fluid.row-margin-top.vc_row-o-equal-height.vc_row-flex > div:nth-child(2) > div > div > div > div > figure > div > img.imglogo{
	left:35px !important;
}

#content-wrapper > div.tt-footer > div.container > div > div.col-md-8{
	border-top: 1px solid #FEDD32;
}