@media screen and (max-width: 667px)  {
	.tt-header .top-inner{
		background:transparent;
	}

	.slick-image-slide img{
		object-fit: contain;
	}

	.home_slider .slide-title{
		font-size: 20px !important;
	}

	.slick-image-slide, .slide-wrap{
		height: auto !important;
	}

	.vc_column-inner.vc_custom_1522743528155,.vc_column-inner.vc_custom_1522671025584{
		padding: 0px 15px !important;
	}

	.sub-text .simple-text p{
		margin:20px 0; 
	}

	.main_heading .special-text{
		font-size: 30px !important;	
	}

	.wpsisac-slick-slider.design-2 .slick-image-slide .slide-wrap .slick-slider-short-content p{
		bottom: -55px;
    	right: 120px;
	}

	.home_slider{
		height: auto;
	}

	.vc_section.vc_custom_1522752938103{
		     margin-top: 0px !important; 
     margin-bottom: 0px !important; 
	}

	.simple-text.size-2 {
	    line-height: 22px;
	}

	.left-category-index .vc_column-inner {
	     padding: 15px !important; 
	}

	#home_section2 .category-index h2.wpb_heading.wpb_singleimage_heading{
		left: 30% !important;
	}

	#home_section2 > div:nth-child(1) > div.right-category-index.wpb_column.vc_column_container.vc_col-sm-6 > div > div > div:nth-child(2) > div > div > div > div > h2{
		top:40% !important;
		left: 0% !important;
	}

	.row-margin-top  .vc_column_container{
		padding: 15px 0px !important;
	}

	#home_section2 img.imglogo {
	    left: 70px;
	}

	#home_section2 > div.vc_row.wpb_row.vc_row-fluid.row-margin-top.vc_row-o-equal-height.vc_row-flex > div:nth-child(2) > div > div > div > div > figure > div > img.imglogo{
		left: 27px;
	}

	#home_section2 > div.vc_row.wpb_row.vc_row-fluid.row-margin-top.vc_row-o-equal-height.vc_row-flex > div:nth-child(3) > div > div > div > h2 {
	    left: 5% !important;
	}

	.home_section4 .simple-text p{
		margin: 10px 0px;
	}

	.vc_row-fluid .vc_custom_1522749340731{
		margin-top: 40px !important;
		    margin-bottom: 40px !important;
	}

	#featured_posts_section .vc_btn3-container{
		margin-top: -60px;
	}

	#featured_posts_section  .slick-dots li.slick-active button:before{
		color: #FEDD32!important;
    	border: 0px solid #fff;
    	font-size: 14px;
	}

	#featured_posts_section  .slick-dots li button:before{
		color: transparent !important;
    	border: 1px solid #000;
    	font-size: 12px;
    	border-radius: 50%;
    	width: 11px;
    	height: 12px;
    	    line-height: 13px;
	}

	.home_slider .wpsisac-slick-slider.design-2 .slick-dots {
	    left: initial; !important;
	    right: initial;
	    text-align: center;
	    bottom: -8px !important;
	    width: 100%;
	}

	#cta .vc_btn3-container{
		margin-top: 20px;
	}

	#cta .cta_input{
		margin-top: 20px;
		margin-left: 25px;
	}

	#media_image-3{
		text-align: center;
		margin-left: -20px;
	}

	
	.address{
		text-align: center;
	}

	#text-13 .textwidget,#text-14 .textwidget,#text-15 .textwidget,#text-16 .textwidget ul{
		display: none;
	}

	#text-13 ,#text-14,#text-15,#text-16{
		margin-bottom: 0px;
	}



	.marg-lg-b20,.marg-xs-b30,#text-13 hr,#text-14 hr,#text-15 hr,#text-16 hr{
		display: none;
	}

	.tt-footer h5{
		text-align: center;
		padding: 20px 0;
	}
	.tt-footer .col-md-2.col-xs-6 hr{
		display: none;
	}

	.col-2,.col-3{
		border-top: 1px solid #FEDD32
	}
	.col-4,.col-5{
		border-bottom: 1px solid #FEDD32
	}

	.home_section4 .special-text {
	    font-size: 30px;
	}

	.rounded.center-content{
		display: block;
	}

	
}

@media screen and (max-width: 667px) and (orientation: landscape){
	#home_section2 .category-index h2.wpb_heading.wpb_singleimage_heading {
     left: 42% !important; 
	}
	#home_section2 > div:nth-child(1) > div.right-category-index.wpb_column.vc_column_container.vc_col-sm-6 > div > div > div:nth-child(2) > div > div > div > div > h2{
		left: 15% !important;
		top:initial !important;
	}

	#home_section2 > div.vc_row.wpb_row.vc_row-fluid.row-margin-top.vc_row-o-equal-height.vc_row-flex > div > div > div > div > div > figure,
	#home_section2 > div.vc_row.wpb_row.vc_row-fluid.row-margin-top.vc_row-o-equal-height.vc_row-flex > div > div > div > div > div > figure > div,
	#home_section2 > div.vc_row.wpb_row.vc_row-fluid.row-margin-top.vc_row-o-equal-height.vc_row-flex > div > div > div > div > div > figure > div > img.vc_single_image-img.attachment-full{
		width: 100%;
	}

	#home_section2 > div.vc_row.wpb_row.vc_row-fluid.row-margin-top.vc_row-o-equal-height.vc_row-flex > div:nth-child(3) > div > div > div > figure,
	#home_section2 > div.vc_row.wpb_row.vc_row-fluid.row-margin-top.vc_row-o-equal-height.vc_row-flex > div:nth-child(3) > div > div > div > figure > div,
	#home_section2 > div.vc_row.wpb_row.vc_row-fluid.row-margin-top.vc_row-o-equal-height.vc_row-flex > div:nth-child(3) > div > div > div > figure > div > img{
		width: 100%;
	}

	#home_section2 img.imglogo{
		left: 220px !important;
	}

	#home_section2 > div.vc_row.wpb_row.vc_row-fluid.row-margin-top.vc_row-o-equal-height.vc_row-flex > div:nth-child(2) > div > div > div > div > figure > div > img.imglogo {
	    left: 200px !important;
	}

	#home_section2 > div.vc_row.wpb_row.vc_row-fluid.row-margin-top.vc_row-o-equal-height.vc_row-flex > div:nth-child(3) > div > div > div > h2 {
	    left: 25% !important;
	}
}

@media screen and (min-width: 668px) and (max-width: 1024px) and (orientation: portrait) {
	.main_heading.wpb_column.vc_column_container.vc_col-sm-8,.vc_custom_1522754152300 .wpb_column.vc_column_container.vc_col-sm-8.vc_col-has-fill{
		width: 100%;
	}

	#home_section2 img.imglogo {
	    position: absolute;
	    bottom: 35px;
	    left: 53px;
	    width: 55%;
	}

	#home_section2 .category-index-small h2.wpb_heading.wpb_singleimage_heading {
	    left: 4%;
	}

	#home_section2 .category-index-long h2.wpb_heading.wpb_singleimage_heading{
		left: -2%;
	}

	#home_section2 .category-index h2.wpb_heading.wpb_singleimage_heading{
		bottom: 20px;
	}

	#home_section2 > div:nth-child(1) > div.right-category-index.wpb_column.vc_column_container.vc_col-sm-6 > div > div > div:nth-child(1) > div > div > div > div > h2{
		bottom: 40px;
		left: 28%;
	}

	.vc_custom_1522670411137 .vc_column_container>.vc_column-inner {
		padding: 0px;
	}

	.rate {
	    font-size: 20px;
	     letter-spacing: initial; 
	}

	#content-wrapper > div.container > section.vc_section.home_section4.vc_custom_1522752337572 > div.vc_row.wpb_row.vc_row-fluid.container.vc_custom_1522754101616.vc_row-has-fill.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex > div:nth-child(1),
	#content-wrapper > div.container > section.vc_section.home_section4.vc_custom_1522752337572 > div.vc_row.wpb_row.vc_row-fluid.container.vc_custom_1522754101616.vc_row-has-fill.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex > div.wpb_column.vc_column_container.vc_col-sm-6.vc_col-has-fill,
	#content-wrapper > div.container > section.vc_section.home_section4.vc_custom_1522752337572 > div.vc_row.wpb_row.vc_row-fluid.container.vc_custom_1522754101616.vc_row-has-fill.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex > div:nth-child(1) > div > div > div:nth-child(1) > div.wpb_column.vc_column_container.vc_col-sm-9,
	#content-wrapper > div.container > section.vc_section.home_section4.vc_custom_1522752337572 > div.vc_row.wpb_row.vc_row-fluid.container.vc_custom_1522754101616.vc_row-has-fill.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex > div:nth-child(1) > div > div > div:nth-child(2) > div.wpb_column.vc_column_container.vc_col-sm-9{
		width: 100%;
	}

	.home_section4 .special-text{
		text-align: center;
	}

	.home_section4 .simple-text p{
		text-align: center;
	}

	#cta > div.vc_row.wpb_row.vc_row-fluid.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex > div > div > div > div > div{
		width: 100%;
	}
	#cta .vc_btn3-container,#cta .cta_input{
		margin-top: 20px;
	}

	#cta .cta_input{
		margin-top: 20px;
		margin-left: 25px;
	}

	#media_image-3{
		text-align: center;
		margin-left: -20px;
	}

	
	.address{
		text-align: center;
	}

	#text-13 .textwidget,#text-14 .textwidget,#text-15 .textwidget,#text-16 .textwidget ul{
		display: none;
	}

	#text-13 ,#text-14,#text-15,#text-16{
		margin-bottom: 0px;
	}

	.marg-lg-b20,.marg-xs-b30,#text-13 hr,#text-14 hr,#text-15 hr,#text-16 hr{
		display: none;
	}

	.tt-footer h5{
		text-align: center;
		padding: 20px 0;
	}
	.tt-footer .col-md-2.col-xs-6 hr{
		display: none;
	}

	.col-2,.col-3{
		border-top: 1px solid #FEDD32
	}
	.col-4,.col-5{
		border-bottom: 1px solid #FEDD32
	}

	#featured_posts_section .vc_btn3-container {
	    margin-top: 300px;
	    margin-left: -480px;
	}

	#featured_posts_section  .slick-dots li.slick-active button:before{
		color: #FEDD32!important;
    	border: 0px solid #fff;
    	font-size: 14px;
	}

	#featured_posts_section  .slick-dots li button:before{
		color: transparent !important;
    	border: 1px solid #000;
    	font-size: 12px;
    	border-radius: 50%;
    	width: 11px;
    	height: 12px;
    	    line-height: 13px;
	}

	.home_slider .wpsisac-slick-slider.design-2 .slick-dots {
	    left: initial; !important;
	    right: initial;
	    text-align: center;
	    bottom: -8px !important;
	    width: 100%;
	}

	#featured_posts_section > div:nth-child(2) > div.vc_row.wpb_row.vc_row-fluid.vc_custom_1522749340721.vc_row-o-equal-height.vc_row-o-content-middle.vc_row-flex > div{
		display: flex !important;
	}

	#featured_posts_section > div:nth-child(2) > div.wpb_column.vc_column_container.vc_col-sm-12 > div{
		padding-left: 0px; 
     padding-right: 0px; 
	}							

}

@media screen and (min-width: 668px) and (max-width: 1024px) and (orientation: landscape) {
	#home_section2 img.imglogo {
	    position: absolute;
	    bottom: 35px;
	    left: 53px;
	    width: 65%;
	}

	#home_section2 .category-index-small h2.wpb_heading.wpb_singleimage_heading {
	    left: 4%;
	}

	#home_section2 .category-index-long h2.wpb_heading.wpb_singleimage_heading{
		left: 8%;
	}

	#home_section2 .category-index h2.wpb_heading.wpb_singleimage_heading{
		bottom: 20px;
	}

	#home_section2 > div:nth-child(1) > div.right-category-index.wpb_column.vc_column_container.vc_col-sm-6 > div > div > div:nth-child(1) > div > div > div > div > h2{
		bottom: 40px;
		left: 28%;
	}

	#input-field{
		width: 190px;
	}

	.home_section4 .special-text {
	    font-size: 27px;
	    line-height: 30px;
	}

	.slick-prev {
	    left: -25px !important;
	}

	.slick-next {
	    right: -14px !important;
	}

	#featured_posts_section > div:nth-child(2) > div.wpb_column.vc_column_container.vc_col-sm-12 > div{
		padding: 0px!important;
	}

	.fa-inverse {
	    color: #ccc !important;
	}

	.tt-header .main-nav>ul>li:not(.mega) {
	    margin-right: 20px;
	    margin-left: 20px;
	}
}