@font-face {
	font-family: circular;
	src: url(../fonts/CircularStd-Bold.otf);
	font-weight: 700;
}

@font-face {
	font-family: circular;
	src: url(../fonts/CircularStd-Book.otf);
	font-weight: 400;
}

@font-face {
	font-family: circular;
	src: url(../fonts/CircularStd-Medium.otf);
	font-weight: 500;
}

@font-face {
	font-family: dinpro;
	src: url(../fonts/DINPro-Medium.otf);
	font-weight: 500;
}

@font-face {
	font-family: dinpro;
	src: url(../fonts/DINPro-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: dinpro;
	src: url(../fonts/DIN-Alternate-Bold.ttf);
	font-weight: 700;
}

body{
	font-family: 'circular', sans-serif;
	font-weight: 400;
}

.add-top{
	padding-top: 80px;
}
.add-bottom{
	padding-bottom: 80px;
}

.logo{
	padding-top: 30px;
}

.mobile-only{
	display: none;
}

.title{
	font-size: 28px;
	line-height: 33.6px;
	color: #3A2416;
	font-family: 'Raleway', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.para{
	text-align: left;
	line-height: 23px;
	font-size: 15px;
	color: #666666;
	font-family: 'dinpro', sans-serif;
	font-weight: 400;


}

.btn-group button:first-child,.btn-group input{
	width: 143px;
	height: 44px;
	text-transform: uppercase;
	background: none;
	border: 1px solid #E85F56;
	border-radius: 0;
	color: #E85F56;
	font-family: 'circular', sans-serif;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.btn.active, .btn:active{
	box-shadow: none;
	border-style: outset;
}

.btn-group button:first-child:focus,.btn-group input:focus{
	outline: none;
	background: none;
	border: #E85F56;
	color: #fff;
}

/*.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover{
background: none;
border: #E85F56;
color: #fff;
}*/

.btn-default input:active:focus{
	border: 1px solid #E85F56;
	color: #000; 	
}


.btn-group button:last-child{
	width: 44px;
	background: #E85F56;
	color: #fff;
	border-radius: 0;
	border: 1px solid #E85F56;
}

.btn-group button:last-child{
	outline: 0;
}	

.btn-group button{
	height: 44px;
}

.navbar.desktop-only{
	height: 130px;
	background: rgba(255,255,255,0.8);
	position: absolute;
	width: 100%;
	z-index: 1;
}

.navbar.mobile-only{
	background: #fff;
	margin-bottom: 0;
}

.navbar ul{
	margin-top: 80px;
}

.navbar ul li{
	list-style: none;
	display: inline;
	margin-right: 110px;
}

.navbar ul li:last-child{
	margin-right: 0;
}

.navbar ul li a{
	text-decoration: none;
	color: #33373D;
	font-size: 15px;
	font-weight: 500;
	letter-spacing: 0.75px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#section-1{
	background: url(../images/Homepage_Banner.jpg) center center;
	height: 504px;
	background-size: cover;
}

.section-1 .content{
	width: 710px;
	padding: 25px 0 25px 0;
	background: #F2F6FC;
	margin: 0 auto;
	display: block;
	position: relative;
	top:400px;
	height: 200px
}

.section-1 .content h1{
	text-align: center;
	font-weight: 400;
}

.section-1 .content p{
	color: #4D4D4D;
	text-align: center;
	font-family: 'dinpro', sans-serif;
	font-weight: 400;
}

.section-1 .content h1 span{
	color: #E85F56;
	font-weight: bold;
}

.section-2 .content{
	width: 875px;
	margin: 0 auto;
	display: block;

	margin-top: 200px;
}

.section-2 .content p{
	font-family: 'dinpro', sans-serif;
	font-weight: 400;
}

.section-2 .content p span{
	color: #E85F56;
	text-decoration:  underline;
}

.section-2 .content h2{
	margin-top: 0;
	font-weight: 500;
}


#section-3{
	background: url(../images/Banner-2.jpg) center center;
	background-size: cover;

}

#section-3 h2{
	margin-bottom: 0;

}

#section-3 h2,#section-3 p.sub-title{
	text-align: center;
	font-weight: 600;
	line-height: 32px;
}

#section-3 p.sub-title{
	color: #8F857D;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 35px;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#section-3 h4{
	color: #E85F56;
	font-size: 19px;
	line-height: 22.8px;
	margin-top: 0;
	font-weight: 500;
	letter-spacing: 1.2px;
	font-family: 'circular', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#section-3 .col-md-4:first-child p{
	font-size: 16px;
	line-height: 24px;
}

#section-3 .btn-group{
	margin-top: 40px;
}

#section-3 .btn-group button:first-child{
	width: 143px;
	height: 44px;
	text-transform: uppercase;
	background: none;
	border: 1px solid #3A2416;
	border-radius: 0;
	font-family: 'circular', sans-serif;
	font-weight: 700;
	color: #3A2416;
	font-size: 15px;
	letter-spacing: 1px;
}

#section-3 .btn-group button:first-child:focus{
	outline: 0;
}

#section-3 .col-md-3{
	padding-right: 0;
}

#section-3 .col-md-3 img{
	margin: 0 auto;
}

#section-3 .col-md-9{
	padding-left: 0;
}

#section-3 .btn-group button:last-child{
	width: 44px;
	background: #3A2416;
	color: #fff;
	border-radius: 0;
	border: 1px solid #3A2416;
}

#section-3 .btn-group button:last-child:focus{
	outline: 0;
}

#section-3 .btn-group button{
	height: 44px;
}

#section-4 .thumbnail{
	padding: 0;
	height: 400px;
	border-radius: 0;
	border: none;

}

#section-4 .thumbnail .para{
	height: 110px;
}

#section-4 .thumbnail .caption{
	padding: 25px 28px 23px 28px;
	border: 1px solid #E4E8F0;
}

#section-4 .thumbnail .caption:hover{
	background: #F2F6FC;
	border: 1px solid #F2F6FC;
}

#section-4 .thumbnail.blue{

}

#section-4 .thumbnail.blue a{
	color: #E85F56;
	border-bottom: 1px solid #E85F56;
	font-family: 'circular', sans-serif;
	font-weight: 700;
}

#section-4 .thumbnail.blue a:hover, #section-4 .thumbnail a:hover{
	text-decoration: none;
}

#section-4 .thumbnail a{
	text-transform: uppercase;
	font-size: 14px;
	line-height: 14.4px;
	color: #B3B3B3;
	letter-spacing: 0.8px;
	border-bottom: 1px solid #B3B3B3;
}

#section-4 .thumbnail img{
	width: 100%;
}

#section-4 .thumbnail h5{
	font-size: 16px;
	line-height: 19.2px;
	color: #3A2416;
	margin-top: 0;
	font-family: 'circular', sans-serif;
	font-weight: 500;
	letter-spacing: 0.8px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#section-4 .title{
	margin-bottom: 0;
	font-size: 28px;
	line-height: 32px;
	font-weight: 500;
}

#section-4 .sub-title{
	color: #8F857D;
	font-size: 20px;
	line-height: 32px;
	margin-top: 0;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#section-4 .para.first{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 40px;
}

.left-block {
	background: url(../images/Block5_PrivateEquity.jpg);
	background-size: cover;
	width: 50%;
	position: absolute;
	left: 0px;
	height: 460px;

}

.split-section{
	height: 460px;
}

.right-block {
	width: 50%;
	position: absolute;
	right: 0px;
	height: 460px;
	background: #F2F6FC;
}

.right-block .content{
	width: 550px;
	padding: 90px 0 0 80px;
}

.right-block .content h2{
	margin-top: 10px;
	margin-bottom: 25px;
	font-size: 28px;
	line-height: 33.6px;
	color: #3A2416;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.right-block .content .semi-title{
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 40px;
	font-family: 'dinpro', sans-serif;
	font-weight: 400;
}

.right-block .content .title-small{
	color: #8F857D;
	font-size: 20px;
	line-height: 24px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	letter-spacing: 0.5px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#section-6{
	background: url(../images/Block6_CTABanner.jpg) center center;
	background-size: cover;
	height: 294px;
}

#section-6 .content{
	width: 923px;
	display: block;
	margin: 0 auto;
	background:#33373D;
	margin-top: 189px;
	color: #fff;
	height: 105px;
}

#section-6 .content p{
	padding-top: 35px;
	font-size: 21px;
	line-height: 24px;
	padding-left: 50px;
	color: #F2F2F2;
	font-family: 'circular', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#section-6 .content p span{
	font-size: 16px;
}

#section-6 .content .btn-group{
	padding-top: 35px;
	/*margin-left: -25px;*/
}

.coming_soon{
	background: url(../images/ComingSoon_Banner.jpg) center center;
	background-size: cover;
	height: 100vh;
}

.coming_soon_container{
	display: flex;
	align-items:center;
	justify-content:center;
	height: 100vh;
	flex-wrap:wrap;
}

.hw{
	width: 25%;
	display: block;
	margin: 0 auto;
}

.tc{
	text-align: center;
}

#coming_soon h4 {
	color: #E85F56;
	font-size: 19px;
	line-height: 22.8px;
	text-align: center;
	margin-top: 0;
	font-weight: 500;
	letter-spacing: 1.2px;
	font-family: 'circular', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.mtp{
	margin-top: 45px;
}

footer{
	padding-top: 50px;
	/*height: 350px;*/
	padding-bottom: 35px;
	background: #33373D;
	font-weight: 700;
	font-family: 'dinpro', sans-serif;
}

footer.desktop-only .col-md-3, footer.desktop-only  .col-md-2{
	width: 20%;
}

.address{
	color: #8F857D;
	font-size: 16px;
	line-height: 19.2px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

footer h5{
	color: #B3B3B3;
	font-size: 15px;
	margin-bottom: 0;
	padding-top: 37px;
	font-weight: 500;
	letter-spacing: 1px;
}

footer hr{
	border-top: 1px solid #8F857D;
}

footer ul{
	padding-left: 0;
}

footer ul li{
	list-style: none;
	margin-bottom: 5px;
}

footer ul li a:hover{
	color: #e85f56;
}

footer ul.social{
	margin-top: 25px;
}

footer ul.social li{
	display: inline;
	border: 1px solid #8F857D;
	border-radius: 50%;
	padding: 5px 8px 5px 8px;
	margin-right: 7px;

}

footer .info{
	color: #808080;
	font-size: 13px;
	line-height: 15.6px;
	font-family: 'dinpro', sans-serif;
	font-weight: 400;
}


footer ul li a{
	color: #ccc;
	font-size: 14px;
	line-height: 16.8px;
	font-family: 'dinpro', sans-serif;
	font-weight: 400;
}

.modal-body input{
	border-radius: 0;
	height: 45px;
}

.modal-body .row{
	margin-bottom: 20px;
}

.modal-header h3, .modal-header h5{
	text-align: center;
	font-family: 'Raleway', sans-serif;
}

.modal-header h3,.modal-header h5{
	margin-bottom: 0;
	margin-top: 0;
	color: #3A2416;
}

.modal-header h5{
	font-family: 'dinpro', sans-serif;
	font-size: 15px;
}

.modal-header h3 span{
	color: #e85f55;
}

.modal-body{
	background: #f2f7fd;
	padding: 60px 40px 60px 40px;
}

.modal-header{
	border: none;
	padding: 40px 15px 40px 15px;
}

.modal-content{
	border-radius: 0;
}

.modal-body .center{
	margin: 0 auto;
	display: block;
	width: 186px;
	margin-top: 30px;
}

.modal-body .form-control{
	border: 1px solid #c6c2bf;
}

.btn_click{
	outline: none !important;
	background: none !important;
	border: #E85F56  !important;
	color: #fff  !important;
	box-shadow: none;
	border-style: outset;
}

/*Core Services*/
.core-section-1 title{
	font-size: 27px;
	line-height: 32.4px;
}

.core-section-1 .content{
	padding: 10px 0 10px 0;
	top: 440px;
	height: 130px;
}


#core-section-1{
	background: url(../images/RA_Banner.jpg) center center;
	height: 504px;
	background-size: cover;
}

.core-section-2 .content p {
	text-align: center;
}

.core-section-2 .content {
	margin-top: 100px;
}

.core-section-3 .tab .tablinks{
	text-transform: uppercase;
	width: 269px;
	color: #b3b3b3;
	background-color:#fff;
	border-top-right-radius: 10px;
	border: 0.5px solid #f2f2f2;
	height: 50px;
	font-size: 17px;
	line-height: 20.4px;
	font-weight:500;
}

.core-section-3 .tab {
	text-align: center;
}


#core-section-3 > div > button:nth-child(1){
	background-color: #fff;
	border-top-left-radius: 10px; 
	font-weight:400;
}

#core-section-3 > div > button:nth-child(2){
	margin-left:-10px; 
	/*color: #e85f56;*/
}

#core-section-3 > div > button:focus {
	outline: -webkit-focus-ring-color auto 0px;
}

#core-section-3 div.tab {
	overflow: hidden;
}

/* Style the buttons inside the tab */
#core-section-3 div.tab button {
	/*float: left;*/
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
}

/* Change background color of buttons on hover */
#core-section-3 div.tab button:hover,#core-section-3 div.tab button:active {
	background-color: #ddd;
	color: #e85f56;
}

/* Create an active/current tablink class */
#core-section-3 div.tab button.active {
	background-color: #f2f2f2;
	color:#e85f56;
}

/* Style the tab content */
#core-section-3 .tabcontent {
	display: none;
	padding: 6px 12px;
	border: 1px solid #ccc;
	border-top: none;
	background-color:#f2f2f2;
}

#core-section-3  .title{
	text-align: center;
}

#core-section-3 .para{
	font-size: 17px;
	text-align: center;
	color: #4d4d4d;
	line-height: 20.4px;
}

#core-section-3 .content{
	width: 1024px;
	margin: 0 auto;
	display: block;
	margin-top:75px ;
}

.services-block{
	height:585px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.revenue-block{
	margin-top: 50px;
	margin-bottom: 50px;
}

.revenue-block .btn-position-left {
    margin: 65px 0px;
}
.revenue-block .sub-title {
    font-family: 'Raleway',sans-serif;
    font-size: 21px;
    font-weight: 500;
    line-height: 25.2px;
    color: #8F857D;
    margin-top: 10px;
    letter-spacing: .8px;
}

ul.black-list-items {
    color: #000;
    padding: 20px 0px;
    padding-left: 5px;
    list-style: none;
}

ul.black-list-items li:before {
	content: "• ";
	color: #000;
	width: 1em;
	padding-right:25px; 
	display: inline-block;
	margin-left: -1em /* or whatever color you prefer */
}

.marg{
	margin-bottom: 60px;
}

.revenue-block .white-block{
	padding: 20px 20px 75px 35px;
	z-index: 2;
}

.white-block{
	background-color: #fff;
	height: 100%;
}

h1.colured-title{
	margin-top: 50px;
	color: #E85F56;
	font-size: 28px;
	line-height:33.6px;
	letter-spacing: 1.2px;
}
.services-block .sub-title{
	font-family: 'Raleway',sans-serif;
	font-size: 21px;
	font-weight: 500;
	line-height: 25.2px;
	color: #8F857D;
	margin-top: 10px;
	letter-spacing: .8px;
}

ul.cols_2{
	-webkit-columns: 2;
	-moz-columns: 2;
	columns: 2;
	list-style-position: inside;
}

ul.cols_2 li{
    /*float: left;*/
    /*width: 100%;*/
}

.quarter-width{
	width: 75%;
}

.service-content{
	font-family: 'dinpro',sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #4D4D4D ;
	margin-top: 35px;
}

.services-block .service-content span{
	font-weight: 600;
}

.absposr{
	position: relative;
	left:-135px;
}

ul.orange-list-items{
	color: #e85f56;
	padding: 35px 0px;
	padding-left: 5px;
	list-style: none;
}

ul.orange-list-items li:before {
	content: "• ";
	color: #e85f56;
	width: 1em;
	padding-right:25px; 
	display: inline-block;
	margin-left: -1em /* or whatever color you prefer */
}

ul.orange-list-items li,ul.black-list-items li{
	padding-left: 10px;
    color: #4D4D4D;
    font-family: 'dinpro',sans-serif;
    font-size: 15px;
    line-height: 18px; 
}

.text-bold{
	font-weight:600;
	font-family:'dinpro',sans-serif ;
	font-size:15px;
	line-height: 18px;
	width: 95%;

}

.pic-block-left{
	position: absolute;
	top: 255px;
	left: -125px;
}
.btn-position-left{
	margin: 160px 0px 50px 50px;
}

.pic-block-right{
	position: absolute;
	top: 195px;
	left: -0px;
	z-index: 2;
	height: 300px;
}
.btn-position-right{
	margin: 120px 0px 50px 75px;
}
.center-block.quarter-width.right{
	width: 80%;
	margin-right: 10px;
	margin-top: 75px;
	padding-bottom: 75px;
}

.services-block-2{
	height: 495px;
}

.services-block-3{
	height: 650px;
}

.services-block-3 .pic-block-left{
	top: 320px;
	left: -100px;
}

.services-block-3 .btn-position-left{
	margin: 225px 0px 50px 50px;
}

.services-block-4{
	height: 535px;
}

.services-block-4 .center-block.quarter-width.right{
	margin-top: 65px;
}
.services-block-4 h1.colured-title{
	margin-top: 0px;
}
.services-block-4 .pic-block-right{
	top: 235px;
	left: 0;
}

/*.services-block-4 .btn-position-right{
margin: 225px 0px 50px 50px;
}*/

.services-block.services-block-4  .service-content {
	margin-bottom: 0px;
}
.services-block.services-block-4  .service-content.mz{
	margin-top: 0px;
}
.services-block-5 .quarter-width {
	width: 72%;
}

div.cta{
	background: url(../images/RA_CTABanner.jpg) center no-repeat;
	background-size: cover;
	height: 162px;
}

.nt_display{
	display: none;
}

.verticalCenter{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
}

.cta .title{
	font-size: 33px;
	font-weight: 500;
	line-height: 39.6px;
	letter-spacing: 1px;
	color: #fff;
	margin-bottom: 0px;
	font-family: 'Raleway',sans-serif;
}
.cta .sub-title{
	font-size: 16px;
	font-weight: 600;
	line-height: 19.2px;
	letter-spacing: 1px;
	color: #fff;
	margin-top: 0px;
	/*width: 73%;*/
	font-family: 'dinpro',sans-serif;
}

.cta button.btn.btn-primary {
	color: #ea6f67;
	border-radius: 0;
	background-color: #fff;
	border: 1px solid #fff;
	padding: 7px 13px;
	font-family: "circular";
	font-weight: 700;
	font-size: 18.14px;
}

button:active, button:focus{
	outline: 0px solid !important;
	outline-offset: 0px;

}

div.cta-form{
	height: 477px;
	background-color:#3a2416; 
	margin: auto;
} 

.form-image{
	background: url(../images/RA_Form.jpg) center;
	background-size: cover;
	height: 100%;
}
.cta-form input.form-control
{
	border-radius: 0;
	height: 45px;
	border: 1px solid #c6c2bf;
	margin: 25px 0 0 -15px;
}
.mt{
	margin-top: 45px;
	margin-left: -15px;
}

.cta-form .title{
	font-family: 'Raleway',sans-serif;
	font-weight: 500;
	font-size: 30px;
	line-height:36px; 
	color: #E85F56;
	margin-bottom: 0;
}

.cta-form .sub-title{
	font-family: 'dinpro',sans-serif;
	font-weight: 600;
	font-size: 15px;
	line-height:18px; 
	color: #fff;
	margin-top: 0px;
}
