@media screen and (max-width: 667px) {
	.desktop-only{
		display: none;
	}


	.mobile-only{
		display: block;
	}

	.cta-form input.form-control {
		margin: 25px 0 0 0px;
		}

	body > div.row.cta-form > div.col-xs-12.col-md-7.verticalCenter.form_height > div > div.col-md-12 > div
	{
		margin-left: 0px;
	}

	.right-block .content .semi-title{
		margin-bottom: 10px;
	}

	.section-1 .content, .section-2 .content, .section-6 .content{
		width: auto;
		height: auto;
	}

	.core-section-1 .content{
		padding: 30px;
		top: 430px;
	}

	.left-block,.right-block{
		position: relative;
		width: 100%;
	}

	#section-3 .col-md-3 img{
		margin:20px auto;
	}

	.revenue-block{
		margin-bottom:10px;
	}


	.right-block .content{
		width: auto;
		padding: 10px 0 0 0;
	}

	.section-2 img{
		margin: 0 auto;
		margin-bottom: 20px;
	}

	#section-2 .content{
		margin-top: 215px;
	}

	.logo{
		padding-top: 0;
		width: 85px;
	}

	.navbar-brand{
		padding-top: 5px;
	}

	.navbar.mobile-only ul{
		margin-top: 0;
	}

	.btn-group.dropup{
		margin-bottom: 20px;
	}

	#section-4 .thumbnail .para{
		height: auto;
	}

	#section-6 .content{
		height: auto;
		width:auto;
	}

	#section-6 .content p{
		padding-left: 0;
	}

	#section-6{
		height: auto;
	}

	footer{
		height: auto;
	}

	.right-block{
		height: 388px;
	}

	#section-6 .content{
		margin-top: 293px;
	}

	#section-6 .content .btn-group{
		margin-left: 0px;
	}

	#section-6{
		margin-top: 309px;
		height: auto;
	}

	.coming_soon .row{
		margin-right: 0px;
		margin-left: 0px;

	}

	.right-block {
		height: auto;
	}

	footer h5{
		margin-bottom: 5px;
	}

	#core-section-1 {
		height: 30vh;
	}

	.core-section-2 .content {
		margin-top: 40px;
	}

	#core-section-3{
		margin-top: 30vh;
	}

	#core-section-3 a.tablinks {
		width: auto;
		font-size: 11px;
		padding: 14px 4px;
	}
	#core-section-3 .content {
		width: auto;
	}
	.quarter-width {
		width: auto; 
	}

	.revenue-block .white-block {
		padding: 20px !important;
		z-index: 2;
	}

	.white-block {
		padding: 20px !important;
		height: auto !important;
	}

	h1.colured-title {
		font-size: 20px;
	}
	.services-block .sub-title {
		font-size: 18px;
	}
	.services-block,.revenue-block {
		height: auto !important;
		width: 90vw;
		margin-left: -8vw;
	}

	.services-block-1 >div.col-xs-12.col-md-8.white-block > div {
		padding: 0;
		padding-right: 0px;
	}

	.services-block-2 .col-xs-12.col-md-offset-1.col-md-11 {
		margin-left: 00px;
	}

	.services-block-4 div.col-xs-12.col-md-8.white-block > div {
		margin-left: 0;
		padding: 0;
	}

	.btn-position-left,.btn-position-right {
		margin: 40px 0px 50px 0px !important;
		position: relative !important;
		top: 10px !important;
		left: 0 !important;
		right: 0px !important;
	}

	.pic-block-left,.pic-block-right {
		position: relative;
		top: 0px !important;
		left: 0px !important;
		width: 110%;
	}
	div.cta {
		height: auto;
		padding: 20px 5px; 
	}

	.cta .sub-title {
		font-size: 15px;
		line-height: 19.2px;
		width: 95%;
	}
	.cta .title {
		font-size: 21px;
		line-height: 25px;
	}

	.revenue-block .verticalCenter img{
		width: 100%;
	}

	#core-section-3 .tabcontent {
		padding: 6px 5px;
	}

	div.cta-form {
		height: auto;
	}

	.form-image {
		height: 50vh;
	}

	.services-block-2,.services-block-4,.block-rev{
		display: flex;
		flex-direction:column-reverse;
		align-items: center;
	}

	.absposr{
		left:0;
		padding: 0px;
	}

	ul.cols_2{
		-webkit-columns: 1;
		-moz-columns: 1;
		columns: 1;
		list-style-position: inside;
		width: auto;
	}

	.form_height{
		height: auto;
	}

/*.banner_height{
height: auto;
}*/

ul.orange-list-items{
	width:auto;
}

/*Private Equity*/
.pe_section_1 {
	height: auto;
}

.pe_section_1 .row{
	margin: auto;
}

.pe_section_1 .bck-img {
	height: 50vh;
}

.pe_section_1 .white-block {
	width: auto;
	left: 0;
	padding: 10px;
}

.pe_section_1 .verticalCenter {
	height: 450px;
}

.hand-icon {
	float: none; 
	height: 65px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.pe_section_2 {
	height: auto;
}

.pe_section_2 .height {
	height: auto;
	padding: 20px 0px;
}

.pe_section_3 .block {
	width: auto;
	height: 500px;
	padding: 0 10px;
}

.effect_image {
	height: 27vh;
	background-size: cover;
}

.banner_height {
	height: auto;
}

.marg {
	margin-bottom: 20px;
	margin-left: 0px; 
}

.revenue-block-2 .marg {
	margin-bottom: 60px;
	margin-left: 0px;
	margin-right: 00px;
}

.no_dir{
	flex-direction: column;
}

.pe_section_4 {
	height: auto;
}

div.col-xs-12.verticalCenter.no_dir.banner_height  div.col-xs-3.col-md-2 > button{
	margin-left: -55px;
}

#sales_development > div.col-xs-12.col-md-5.verticalCenter,#marketing > div.col-xs-12.col-md-7{
	padding: 0;
}

.cta-form textarea.form-control {
margin: 25px 0 0 0px;
}
.core-section-2 .content p {
    font-size: 15px;
}

.revenue-block img.center-block {
    height: auto;
    position: relative;
    left: 0;
    top: 0;
}

.revenue-block .pic-block-left {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.revenue-block .pic-block-right {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}

#sales_development > div.col-xs-12.col-md-4{
	padding: 0;
}

#marketing > div.col-xs-12.col-md-4{
	padding: 0;
}

.address {
    text-align: center;
}

}

@media screen and (max-width: 667px) and (orientation: landscape){
	#core-section-1 {
		height: 50vh;
	}

	.first-contact .mt {
    	margin-top: 7px;
    	margin-left: 200px;
	}

	#section-4 .thumbnail {
		height: auto;
	}

	#section-6 .content {
		width: auto;
	}

	.core-section-1 .content {
		top: 330px;
	}

	.pic-block-left, .pic-block-right {
		position: relative;
		top: 0px !important;
		left: 0px !important;
		width: 105%;
	}

	.cta .title {
		font-size: 33px; 
		line-height: 39.6px;
	}
	.cta .sub-title {
		width: 68%;
	}

	.pe_section_1 .bck-img {
		height: 90vh;
	}

	.pe_section_3 .block {
		height: 400px;
	}

	.pe_section_4 {
		height: 700px;
	}
	.halcyon_effect_container {
		height:700px;
	}

	.effect_image {
		height: 37%;
		background-size: cover;
	}

	.banner_height {
		height: auto;
	}

	#core-section-3 a.tablinks {
		width: initial; 
		font-size: 17px; 
		padding: 14px 16px;; 
	}

	.absposr {
		left: 0px;
	}

	.revenue-block .verticalCenter img {
		width: 100%;
		left: 0px;
		position: relative;
	}

	.services-block, .revenue-block {
		height: auto !important;
		width: 100%;
		margin-left: -15px; 
	}

	.services-block .btn-position-left,.services-block .btn-position-right {
		margin: 40px 0px 50px 0px !important;
		position: relative !important;
		top: 10px !important;
		left: 0% !important;
		right: 0px !important;
		width:auto;
	}

	div.col-xs-12.verticalCenter.no_dir.banner_height  div.col-xs-3.col-md-2 > button{
		margin-left: 0px;
	}

	div.row.cta div.col-xs-12.verticalCenter.no_dir.banner_height{
		height: 162px;
	}

	.halcyon_effect_container {
		height: auto;
	}

	.revenue-block .pic-block-left {
	    position: relative;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 2;
	}

	.revenue-block .pic-block-right {
	    position: relative;
	    top: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    z-index: 2;
	}

}

@media screen and (min-width: 668px) and (max-width: 1024px) and (orientation: portrait) {
	.revenue-block img.center-block {
	    height: auto;
	    position: relative;
	    left: 0;
	    top: 0;
	}

	.revenue-block .white-block {
	    padding: 65px !important;
	}

	.revenue-block .pic-block-left {
	    position: relative;
	    top: 0;
	    left: 0;
	    width: 100%;
	    z-index: 2;
	}

	.revenue-block .pic-block-right {
	    position: relative;
	    top: 0;
	    left: 0;
	    right: 0;
	    width: 100%;
	    z-index: 2;
	}

	.desktop-only{
		display: none;
	}

	.mobile-only{
		display: block;
	}

	#section-1 .content br{
		display: none;
	}

	#section-1 .content, #section-2 .content, #section-6 .content{
		width: auto;
		padding: 20px 20px;
	}

	.left-block,.right-block{
		position: relative;
		width: 100%;
	}

	.right-block .content{
		width: auto;
		padding: 10px 20px 0 20px;
	}

	.section-2 img{
		margin: 0 auto;
		margin-bottom: 20px;
	}

	#section-2 .content{
		margin-top: 215px;
	}

	.logo{
		padding-top: 0;
		width: 85px;
	}

	.navbar-brand{
		padding-top: 5px;
	}

	ul.orange-list-items{
		width:auto;
	}

	.navbar.mobile-only ul{
		margin-top: 0;
	}

	.btn-group.dropup{
		margin-bottom: 20px;
	}

	#section-4 .thumbnail .para {
    	height: 80px;
	}

	.section-1 .content {
	    height: 130px;
	    width: auto;
	}

	#section-6 .content{
		height: auto;
	}

	#section-6 .content p{
		padding-left: 0;
	}

	#section-6{
		height: auto;
	}

	footer{
		height: auto;
	}

	.right-block{
		height: 388px;
	}

	#section-6 .content{
		margin-top: 293px;
	}

	#section-6 .content .btn-group{
		margin-left: 0px;
	}

	#section-6{
		margin-top: 309px;
		height: auto;
	}

	footer h5{
		margin-bottom: 5px;
	}

	.navbar ul li{
		margin-right: 0;
	}

	#section-4 .thumbnail{
		height: auto;
	}

	#section-6 .container{
		padding-left: 0;
		padding-right: 0;
	}

	.section-2 .content {
		width: auto;
	}
	#core-section-3 .content {
		width: auto;
	}

	.services-block {
		height: auto !important;
		margin: auto;
	}

	.services-block .white-block {
		height: auto !important;
		padding: 65px !important;
	}

	ul.orange-list-items {
		width: auto;
	}


	.services-block .btn-position-left,.services-block .btn-position-right {
		margin: 50px 267px !important;
		position: relative;
		top: 0;
		left: 0px;
	}

	.pic-block-left , .pic-block-right{
		position: relative;
		top: 0px !important;
		left: 0px !important;
		width: 100%;
	}

	.services-block-2,.services-block-4,.block-rev{
		display: flex;
		flex-direction:column-reverse;
		padding: 0;
	}

	div.cta {
		height: auto;
		padding: 20px 0px;
	}

	.white-block {
		padding-bottom: 20px;
		width: 100%;

	}


	div.cta-form {
		height: auto;
		margin: auto;
	}
	.form-image {
		height: 45vh;
	}

	.absposr{
		left:0;
		/*display: block;*/
	}

	.verticalCenter > img{
		width:100%;
	}
	.form_height{
		height: auto;
	}

	.banner_height{
		height: auto;
	}

	/*Private Equity*/
	.pe_section_1 {
		height: auto;
	}

	.pe_section_1 .row{
		margin: auto;
	}

	.pe_section_1 .bck-img {
		height: 50vh;
	}

	.pe_section_1 .white-block {
		width: auto;
		left: 0;
		padding: 30px 30px;
		height: auto;
	}

	.pe_section_1 .verticalCenter {
		height: 450px;
	}

	.hand-icon {
		float: none; 
		height: 65px;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.pe_section_2 {
		height: auto;
	}

	.pe_section_3 .block {
		width: auto;
		padding: 0 10px;
	}

	.effect_image {
		height: 50%;
		background-size: cover;
	}

	.cta .ipad_title {
		font-size: 26px;

	}

	.marg {
		margin-bottom: 60px;
		margin-left: 0px;
		margin-right:0px 
	}

	.revenue-block-2 .marg {
		margin-bottom: 60px;
		margin-left: 0px;
		margin-right: 00px;
	}

	.no-container-pad{
		margin-left: -15px;
		margin-right: auto;
	}

	.no_dir{
		flex-direction: column;
	}

	div.col-xs-12.verticalCenter.no_dir.banner_height > div.col-sm-12.col-md-1 > button{
		margin-left: -80px;
	}

	div.row.cta div.col-xs-12.verticalCenter.no_dir.banner_height{
		height: 162px;
	}

	.core-section-2 .content p {
	    font-size: 15px;
	}

	#core-section-3 .tab-content {
	    padding: 6px 0px 6px 12px;
	}

	#Revenue  div.container,#Business  div.container{
		width: auto;
	}

	.address {
	    text-align: center;
	}
}

@media screen and (min-width: 668px) and (max-width: 1024px) and (orientation: landscape) {
	.navbar ul li {
		margin-right: 40px;
	}

	.core-section-2 .content p {
	    font-size: 15px;
	}
	#section-4 .thumbnail .para {
	    height: 160px;
	}
	.right-block .content {
		width: 497px;
		padding: 90px 0 0 8px;
	}
	div.cta-form {
		margin: auto;
	}
	.absposr{
		left:0;
	}
	.pic-block-right {
		top: 352px;
		height: 300px;
		left: -30px;

	}

	.revenue-block-2 .marg {
	    margin-left: 150px;
	}

	.services-block-3 .white-block,.services-block-4 .white-block,.services-block-5 .white-block {
		height: auto; 
		padding: 25px;
	}

	.services-block-4 div.col-xs-12.col-md-8.white-block > div {
	    margin: auto;
		padding: 25px; 
		padding-left: 96px;
	}

	#human_resources > div.col-xs-12.col-md-8.white-block > div{
		padding-left: 105px;
	}

	
	

	.pic-block-left {
	    top: 523px;
	    height: 300px;
	    left: -150px;
	}


	.services-block .white-block {
		height: auto !important;
		padding: 25px !important;
	}
	.services-block.services-block-1 .white-block {
		padding-right: 76px !important;
	}
	.white-block {
		height: auto;
	}

	.revenue-block .white-block {
		padding: 40px;
		padding-right: 140px;
	}

	.revenue-block-2 .white-block {
		padding: 40px;
		padding-left: 140px;
	}

	.revenue-block .pic-block-left {
	    position: absolute;
	    top: 412px;
	 }

	 .revenue-block .pic-block-right {
	     position: absolute;
	     top: 439px;
	  }

	.services-block-3 .col-md-offset-1{
		margin: 0;
	}
	.services-block-3 .pic-block-left {
		top: 369px;
		    left: -90px;
		    height: 265px;
	}
	.services-block-4 .pic-block-right {
		top: 443px;
		height: 280px;
	}

	.services-block-5 .pic-block-left {
		left: -140px;
    	top: 349px;
	}
	#core-section-3 .content {
		width: auto;
	}

	.absposr {
		left: -100px;
	}
	

	ul.orange-list-items {
		width: auto;
	}

	.pe_section_3 .block {
		width: auto;
	}

	.pe_section_2 .height {
		margin: auto;
		margin-top: 55px;
		margin-bottom: 54px;
	}

	.pe_section_1 .row{
		margin: auto;
	}

	.pe_section_2 {
		height: 419px;
	}

	.pe_section_2 .height {
		height: 310px;
	}

/*.banner_height{
height: auto;
}*/

.services-block {
	height: auto !important;
}

.cta .ipad_title {
	font-size: 24px;

}

.services-block-2 .pic-block-right {
	top: 493px;
}
}