
/*
Theme Name: Pratham 
Author: Joy from Mindstack team
Version: 1.0

*/


@font-face {
	font-family: circular;
	src: url(fonts/CircularStd-Bold.otf);
	font-weight: 700;
}

@font-face {
	font-family: circular;
	src: url(fonts/CircularStd-Book.otf);
	font-weight: 400;
}

@font-face {
	font-family: circular;
	src: url(fonts/CircularStd-Medium.otf);
	font-weight: 500;
}

@font-face {
	font-family: dinpro;
	src: url(fonts/DINPro-Medium.otf);
	font-weight: 500;
}

@font-face {
	font-family: dinpro;
	src: url(fonts/DINPro-Regular.otf);
	font-weight: 400;
}

@font-face {
	font-family: dinpro;
	src: url(fonts/DIN-Alternate-Bold.ttf);
	font-weight: 700;
}

body{
	font-family: 'circular', sans-serif;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

